#panel {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 4em;
  
}

.card-wrapper {
    transition: transform 0.25s;
    transition-delay: 0.1s;
    perspective: 3000px;

    &:hover {
        transform: scale(1.1);
    }
    &:hover .card {
        /* box-shadow: 0 0 20px 10px black; */
    }
}

.card {
    position: relative;
    
    --hue: 280;

    --s: 38px;
    --c1: hsl(var(--hue), 50%, 4%);
    --c2: hsl(var(--hue), 50%, 7%);

    --l: var(--c1) 20%, #0000 0;
    --g: 35%, var(--c2) 0 45%, var(--c1) 0;
    background:
        linear-gradient(45deg, var(--l) 45%, var(--c1) 0 70%, #0000 0),
        linear-gradient(-45deg, var(--l) var(--g) 70%, #0000 0),
        linear-gradient(45deg, var(--c1) var(--g));
    background-size: var(--s) var(--s);
    /* border: 5px solid #111; */
    display: grid;
    gap: 0.5em;
    grid-template-rows: auto 1fr auto;
    
    padding: 1em;
    border-radius: 1em;

    box-shadow: inset 0 0 10px 2px hsl(var(--hue), 100%, 15%);

    --size: 0.75;
    width: calc(27.5em * var(--size));
    height: calc(47.5em * var(--size));

    transition: transform 0.8s, box-shadow 0.5s;
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    transition-delay: 0.1s;

    cursor: pointer;
    
    /* transform-origin: top; */

    &:hover {
        /* transform: scale(1.2); */
    }
}

.card.dilemma {
    --hue: 35;
    /* --c1: hsl(280, 100%, 13%);
    --c2: hsl(280, 100%, 22%);
    --shadow: rgb(187, 0, 255);
    border-color: #332011; */
}

.card.crisis {
    --hue: 5;
    /* --c1: #110505;
    --c2: #330c0c;
    border-color: #211; */
}

.card.opportunity {
    --hue: 200;
    /* --c1: #050511;
    --c2: #0c0c33;
    border-color: #112; */
}


.card .inner {
    background: linear-gradient(hsl(var(--hue), 50%, 15%, 0.8), hsl(var(--hue), 50%, 10%, 0.2));
    padding: 0.5em;
    border-radius: 0.5em;

    box-shadow: inset 0 0 10px 1px hsl(var(--hue), 50%, 30%);
}
.inner.option {
    border-top: 4px solid hsl(var(--hue), 100%, 50%);
    margin-top: 1em;
    padding-top: 1em;
    position: relative;
}

.card h2 {
    font-size: 1.4em;
    /* text-align: center; */
    color: hsl(var(--hue), 100%, 90%);
}

.card h3 {
    font-size: 1em;
    text-align: center;
    padding: 0 0.5em;
    line-height: 1.4em;
    background-color: hsl(var(--hue), 100%, 50%);
    color: hsl(var(--hue), 100%, 1%);
    position: absolute;
    top: -0.8em;
    display: inline-block;
    border-radius: 0.5em;
}
.card h3:not(:first-child) {
    margin: 2em 0 0.5em;
}

.card p {
    padding: 0.25em;
    margin: 0 0 0.5em;
    text-indent: 0;
    color: hsl(var(--hue), 80%, 70%);
    border-radius: 0.25em;
}
.card b {
    color: hsl(var(--hue), 100%, 80%);
    padding-right: 0.35em;
}

.card button {
    border: none;
    display: block;
    font-weight: normal;

    font-size: 1em;
    color: hsl(var(--hue), 40%, 70%);
    background: #111a;
    border-left: 0.25em solid hsl(var(--hue), 100%, 50%);

    width: 100%;
    text-align: left;
    
    margin-bottom: 0.5em;
    padding: 0 0.5em;
    
    & span {
        color: hsl(var(--hue), 100%, 70%);
        font-weight: bold;
        padding-right: 0.35em;
    }

    & .pass {
        color: var(--green);
    }
    & .fail {
        color: var(--crimson);
    }

    &:hover {
        transform: translateX(5px);
        background-color: #222;
        color: hsl(var(--hue), 100%, 90%);
    }
}

.front {
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border-radius: 0.75em;
    /* opacity: 0; */
    z-index: 1;
    transform: scaleX(-100%);

    background-color: black;
    background-size: 100% 100%;
    /* border: 5px solid var(--black); */

    background-image: url(../images/cardback.png);
    box-shadow: inset 0 0 10px 3px hsl(var(--hue), 0%, 15%);
}

.flipped {
    transform: rotate3d(0, 1, 0, 180deg);
}

.hide .front {
    opacity: 0;
    pointer-events: none;
}
