#panel {
    display: grid;
    grid-auto-flow: column;
    place-content: center;
  
}

.card-wrapper {
    transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1), box-shadow 0.5s;
    transition-delay: 0.1s;
    border-radius: 1em;
    position: relative;

    animation: slideIn 1s ease backwards;
    animation-delay: 0ms;
    

    &:hover {
        /* transform: scale(1.1); */
    }
    &.remove {
        animation: slideOut 1s cubic-bezier(.59, -0.59, .15, .62) forwards;
        animation-delay: 0.5s;
    }
}
.card-wrapper:nth-of-type(2) { 
    animation-delay: 250ms;

    & .image {
        animation-delay: 2500ms;
    }
}
.card-wrapper:nth-of-type(3) { 
    animation-delay: 500ms;
    & .image {
        animation-delay: 5000ms;
    }
}

@keyframes slideIn {
    from {
        transform: translate(0px, -1500px) rotate(120deg) scale(1.1);
    }
}

@keyframes slideOut {
    60% {
        width: inherit;
        /* height: inherit; */
    } 
    100% {
        transform: translate(0, -1500px) rotate(45deg);
        width: 0;
        /* height: 0; */
    }
}

.card-bumper {
    perspective: 3000px;
    transition: transform 0.37s cubic-bezier(0.68, -0.55, 0, 2);

    --size: 0.75;
    --width: calc(32.5em * var(--size));
    --height: calc(46.5em * var(--size));
    width: var(--width);
    height: var(--height);

    &:hover {
        /* transform: scale(1.05); */
        /* transform: translateY(-2.5%); */
        /* font-size: 1.05em; */
    }
    
    &.bump {
        transition: transform 0.2s ease-in-out;
        transform: scale(1.1) rotate(2.5deg);
    }
}

.card {
    position: relative;
    /* width: var(--width - 4em); */
    height: 100%;
    
    --hue: 150;
    --saturation: 1;
    --lightness: 1;

    --s: calc(var(--width) * 0.125);
    --c1: hsl(var(--hue), calc(70% * var(--saturation)), calc(18% * var(--lightness)));
    --c2: hsl(var(--hue), calc(70% * var(--saturation)), calc(24% * var(--lightness)));

    --l: var(--c1) 20%, #0000 0;
    --g: 35%, var(--c2) 0 45%, var(--c1) 0;
    background:
        linear-gradient(45deg, var(--l) 45%, var(--c1) 0 70%, #0000 0),
        linear-gradient(-45deg, var(--l) var(--g) 70%, #0000 0),
        linear-gradient(45deg, var(--c1) var(--g));
        
    background-size: var(--s) var(--s);



    /* border: 5px solid #111; */
    display: grid;
    gap: 0.5em;
    grid-template-rows: auto 1fr;
    
    padding: 1em;
    margin: 0 2em;
    border-radius: 1em;

    box-shadow: inset 0 0 10px 2px hsl(var(--hue), calc(100% * var(--saturation)), calc(15% * var(--lightness))), 0 0 6px 1px black;

    filter: blur(0);

    transition: transform 0.5s, box-shadow 0.25s, filter 0.6s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
    transition-delay: 0.1s;

    overflow: hidden;

    cursor: url('../images/cursor-hover.png'), auto !important;
    &:active {
        transform: translateY(0);
        cursor: url('../images/cursor-active.png'), auto !important;
    }

    & .front {
        background-image: url('../images/cardback.png');
    }

    &:hover {
        /* box-shadow: inset 0 0 10px 2px hsl(var(--hue), 100%, 15%), 0 0 1em 1em hsla(var(--hue), 100%, 0%, 0.5); */
        
    }
}

.remove .card {
    animation: flash 1s ease-in-out forwards;
} 
@keyframes flash {
    20% {
            filter: brightness(1.2);
        }
    100% {
        filter: brightness(0.5);
    }
}

.flipped {
    transform: rotate3d(0, 1, 0, 180deg);
}




.card .inner {
    background: hsl(var(--hue), calc(30% * var(--saturation)), 5%, 0.9);
    padding: 0.5em;
    border-radius: 0.5em;

    box-shadow: inset 0 2px 10px 2px hsl(var(--hue), calc(50% * var(--saturation)), 2%);
}

.card .inner:first-child {
    background: hsl(var(--hue), calc(30% * var(--saturation)), 3%, 1);

    box-shadow: none;
}

.card-scroller {
    display: grid;
    grid-template-rows: auto;
    gap: 1em;
    align-content: start;

    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: #000a;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #fffa;
} 
::-webkit-scrollbar-thumb:hover {
    background: #aaaa;
}

.inner.option {
    border-top: 4px solid hsl(var(--hue), calc(100% * var(--saturation)), calc(50% * var(--lightness)));
    margin-top: 0.5em;
    padding-top: 1em;
    position: relative;
}

.card h2 {
    font-family: 'Marcellus SC', 'Crimson Pro', serif;
    font-weight: normal;
    font-size: 1.4em;
    text-align: center;
    color: hsl(var(--hue), calc(100% * var(--saturation)), 90%);
}

.card h3 {
    font-family: 'Crimson Pro', serif;
    font-size: 1em;
    text-align: center;
    padding: 0 0.5em;
    line-height: 1.4em;
    background-color: hsl(var(--hue), calc(100% * var(--saturation)), calc(50% * var(--lightness)));
    color: hsl(var(--hue), calc(100% * var(--saturation)), 1%);
    position: absolute;
    top: -0.9em;
    display: inline-block;
    border-radius: 0.5em;
}
.card h3:not(:first-child) {
    margin: 2em 0 0.5em;
}

.card p {
    padding: 0.25em;
    margin: 0 0 0.5em;
    text-indent: 0;
    font-size: round(1.1em, 2px);
    color: hsl(var(--hue), calc(80% * var(--saturation)), calc(70% * var(--lightness)));
    border-radius: 0.25em;
}
.card b {
    color: hsl(var(--hue), calc(100% * var(--saturation)), calc(80% * var(--lightness)));
    padding-right: 0.35em;
}

.card button {
    font-family: 'Crimson Pro', serif;
    border: none;
    display: block;
    font-weight: normal;

    font-size: 1em;
    color: hsl(var(--hue), calc(40% * var(--saturation)), calc(70% * var(--lightness)));
    background: hsl(var(--hue), calc(20% * var(--saturation)), calc(15% * var(--lightness)), 1);

    border-left: 0.25em solid hsl(var(--hue), calc(100% * var(--saturation)), calc(50% * var(--lightness)));
    border-right: 1em solid transparent;

    box-shadow: none;

    width: 100%;
    text-align: left;
    
    margin-bottom: 0.5em;
    padding: 0 0.5em;
    
    & span {
        color: hsl(var(--hue), calc(100% * var(--saturation)), 90%);
        font-weight: bold;
        padding-right: 0.25em;
        pointer-events: none;
    }

    & .pass {
        color: var(--green);
    }
    & .fail {
        color: var(--crimson);
    }

    &:hover {
        /* transform: translateX(5px); */
        border-left-width: 1em;
        border-right-width: 0.25em;
        border-left-color: white;
        background: hsl(var(--hue), calc(20% * var(--saturation)), calc(22% * var(--lightness)), 1);
        color: hsl(var(--hue), calc(100% * var(--saturation)), 100%);
    }
}

.front {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border-radius: 0.75em;
    /* opacity: 0; */
    z-index: 1;
    transform: scaleX(-1);

    background-color: black;

    --easeInSpeed: 0.25s;
    --easeOutSpeed: 0.5s;
    --zoomMultiplier: 6;

    transition: transform calc(var(--easeOutSpeed) * var(--zoomMultiplier)), filter 0.5s;

    &:hover {
        transition: transform calc(var(--easeInSpeed) * var(--zoomMultiplier)), filter 0.5s;
        transform: scale(-1.1, 1.1);

        filter: brightness(1.5) contrast(1.1);

        & .inset {
            transform: scale(0.91);
            box-shadow: inset 0 0 80px 25px hsl(var(--hue), calc(100% * var(--saturation)), calc(15% * var(--lightness)), 0.5);
            
            transition: transform calc(var(--easeInSpeed) * var(--zoomMultiplier)) , box-shadow var(--easeInSpeed), filter 0.5s;
        }
    }

    & .image {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        background-size: 100% 100%;
        background-image: url(../images/cardback.png);
        
        animation: moveth 7.5s alternate infinite cubic-bezier(.2, 0, .8, 1);
    } 

    & .inset {
        position: absolute;
        top: -1px;
        left: -1px;
        right: -1px;
        bottom: -1px;
        border-radius: 1.25em;
        z-index: 1;

        border: 8px solid hsl(var(--hue), calc(100% * var(--saturation)), calc(20% * var(--lightness)), 0.75);

        box-shadow: inset 0 0 30px 20px hsl(var(--hue), 0%, 0%, 0.5);

        transition: transform calc(var(--easeOutSpeed) * var(--zoomMultiplier)), box-shadow var(--easeOutSpeed), border 0.5s;

        &:hover {
            border: 8px solid hsl(var(--hue), calc(100% * var(--saturation)), calc(70% * var(--lightness)), 1);
        }
    }
}

@keyframes moveth {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.05)
    }
}

.sheen {
    /* background: linear-gradient(80deg, red, blue); */
    
    background: linear-gradient(82deg, 
        hsla(var(--hue), 90%, 80%, 0) 50%, 
        hsla(var(--hue), 90%, 80%, 0.1) 53%,
        hsla(var(--hue), 90%, 80%, 0.4) 56%, 
        hsla(var(--hue), 90%, 80%, 1) 56.01%, 
        hsla(var(--hue), 90%, 80%, 1) 56.49%,
        hsla(var(--hue), 90%, 80%, 0.1) 56.5%,
        hsla(var(--hue), 90%, 80%, 0.1) 56.9%,
        hsla(var(--hue), 90%, 80%, 1) 56.91%, 
        hsla(var(--hue), 90%, 80%, 1) 57.19%,
        hsla(var(--hue), 90%, 80%, 0.4) 57.2%, 
        hsla(var(--hue), 90%, 80%, 0.1) 62.2%,
        hsla(var(--hue), 90%, 80%, 0) 67.2%
        );
    background-size: 6000% 100%; 
    background-position: 0% 100%;
    
    mix-blend-mode: overlay;
    filter: hue-rotate(60deg) brightness(1.25);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 1em;
    /* opacity: 0; */
    z-index: 2;
    animation: scroll 15s linear infinite;
    pointer-events: none;
    --delay-offset: 0.3s;
    --delay-row-offset: 0.05s;
}

@keyframes scroll {
    to {
        background-position: 100% 100%;
    }

    from {
        background-position: 0% 100%;
    }
}

.card-wrapper:nth-of-type(1) .sheen { animation-delay: calc(var(--delay-offset)*1); }
.card-wrapper:nth-of-type(2) .sheen { animation-delay: calc(var(--delay-offset)*2); }
.card-wrapper:nth-of-type(3) .sheen { animation-delay: calc(var(--delay-offset)*3); }
.card-wrapper:nth-of-type(4) .sheen { animation-delay: calc(var(--delay-offset)*4); }
.card-wrapper:nth-of-type(5) .sheen { animation-delay: calc(var(--delay-offset)*5); }
.card-wrapper:nth-of-type(6) .sheen { animation-delay: calc(var(--delay-offset)*6); }

.card-wrapper:nth-of-type(7) .sheen { animation-delay: calc(var(--delay-offset)*1 + var(--delay-row-offset)); }
.card-wrapper:nth-of-type(8) .sheen { animation-delay: calc(var(--delay-offset)*2 + var(--delay-row-offset)); }
.card-wrapper:nth-of-type(9) .sheen { animation-delay: calc(var(--delay-offset)*3 + var(--delay-row-offset)); }
.card-wrapper:nth-of-type(10) .sheen { animation-delay: calc(var(--delay-offset)*4 + var(--delay-row-offset)); }
.card-wrapper:nth-of-type(11) .sheen { animation-delay: calc(var(--delay-offset)*5 + var(--delay-row-offset)); }
.card-wrapper:nth-of-type(12) .sheen { animation-delay: calc(var(--delay-offset)*6 + var(--delay-row-offset)); }

.card-wrapper:nth-of-type(13) .sheen { animation-delay: calc(var(--delay-offset)*1 + var(--delay-row-offset) * 2); }
.card-wrapper:nth-of-type(14) .sheen { animation-delay: calc(var(--delay-offset)*2 + var(--delay-row-offset) * 2); }
.card-wrapper:nth-of-type(15) .sheen { animation-delay: calc(var(--delay-offset)*3 + var(--delay-row-offset) * 2); }
.card-wrapper:nth-of-type(16) .sheen { animation-delay: calc(var(--delay-offset)*4 + var(--delay-row-offset) * 2); }
.card-wrapper:nth-of-type(17) .sheen { animation-delay: calc(var(--delay-offset)*5 + var(--delay-row-offset) * 2); }
.card-wrapper:nth-of-type(18) .sheen { animation-delay: calc(var(--delay-offset)*6 + var(--delay-row-offset) * 2); }

.card-wrapper:nth-of-type(19) .sheen { animation-delay: calc(var(--delay-offset)*1 + var(--delay-row-offset) * 3); }
.card-wrapper:nth-of-type(20) .sheen { animation-delay: calc(var(--delay-offset)*2 + var(--delay-row-offset) * 3); }
.card-wrapper:nth-of-type(21) .sheen { animation-delay: calc(var(--delay-offset)*3 + var(--delay-row-offset) * 3); }
.card-wrapper:nth-of-type(22) .sheen { animation-delay: calc(var(--delay-offset)*4 + var(--delay-row-offset) * 3); }
.card-wrapper:nth-of-type(23) .sheen { animation-delay: calc(var(--delay-offset)*5 + var(--delay-row-offset) * 3); }
.card-wrapper:nth-of-type(24) .sheen { animation-delay: calc(var(--delay-offset)*6 + var(--delay-row-offset) * 3); }

.hide .front {
    opacity: 0;
    pointer-events: none;
}

.hide .sheen {
    transform: scaleX(-1)
}

.card .image::before, 
.card .image::after {
    display: grid;
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-content: end;
    text-align: center;
    font-family: 'Modern Antiqua', 'Marcellus SC', serif;
    text-shadow: 0 0 1em black;
}
.card .image::before {
    padding-bottom: 1.75em;
    font-size: 3em;
    background: linear-gradient(#0000 50%, #000f 100%);
}
.card .image::after {
    padding-bottom: 1.5em;
    font-size: 2em;
}

@media screen and (width < 1300px) {
    .card-wrapper {
        font-size: 0.8em;
        /* margin: 1em; */
    }
}


.card--intel {
    animation: none;
    /* display: grid; */
    transform: scale(0.95);

    & .card-bumper {
        --size: 0.43;

        --width: calc(25em * var(--size));
        --height: calc(35em * var(--size));
    }
    
    & .card-scroller {
        grid-template-rows: 1fr;

        & .inner {
            text-align: center;
            background-color: #000c !important;
            display: grid;
            place-content: center;
        }
    }
    & .image {
        background-size: cover;

        &::after {
            position: absolute;
            left: -1em;
            right: -1em;
            bottom: 0;
            place-content: center;
            font-size: 6em;
            padding: 0;

            opacity: 0;
            /* transition: opacity 0.25s; */
            content: "🔎";
            transform: translateY(0.25em) rotate(-22.5deg);
            filter: grayscale(1);

            transition: opacity 1s, transform 1s, backdrop-filter 1s;
        }
    }

    & .intel--witch {
        --hue: 40;
        
        & .image {
            background-image: url('../images/cardback-small-witch.jpg');
        }
    }
    & .intel--demon {
        --hue: 40;
        
        & .image {
            background-image: url('../images/cardback-demon.jpg');
        }
    }
    & .intel--kereshk {
        --hue: 10;
        
        & .image {
            background-image: url('../images/cardback-small-kereshk.jpg');
        }
    }
    & .intel--malice {
        --hue: 40;
        
        & .image {
            background-image: url('../images/cardback-small-malice.jpg');
        }
    }
    & .intel--logus {
        --hue: 280;
        & .image {
            background-image: url('../images/cardback-small-logus.jpg');
        }
    }
    & .intel--rilmok {
        --hue: 90;
        & .image {
            background-image: url('../images/cardback-small-rilmok.jpg');
        }
    }
    & .intel--grey-ones {
        --saturation: 0;
        & .image {
            background-image: url('../images/cardback-small-grey-one.jpg');
        }
    }

    &.intel--unlocked {
        animation: intelUnlock 0.4s forwards;

        filter: grayscale(0) brightness(1.25);

        /* outline: 4px solid #0ff7; */
    }
    &.intel--locked .card {
        /* --saturation: 0; */

        filter: grayscale(0.15) brightness(0.95);
/* 
        &:hover {
            filter: grayscale(0.5) brightness(0.6);
        } */
    }
    

    & .card {
        margin: 0em;
        padding: 0.5em;
    }

    & h2 {
        font-size: 1.05em;
    }
    & p {
        font-size: 1em;
    }
}

.has--intel .intel--locked {

    & .card {
        outline: 4px solid var(--blue);

    }
    & .card:hover .image::after {
        filter: grayscale(1) brightness(1.5);
        transform: translateY(0) rotate(-22.5deg);
        transition: opacity 3s, transform 1s, backdrop-filter 2s;
        opacity: 0.4;
        backdrop-filter: brightness(0);
    }
}


@keyframes intelUnlock {
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (width < 1800) {
    .card--intel .card-bumper {
        --size: 0.45;
    }
}