.card.opportunity {
    --hue: 190;
    
    --s: calc(var(--width) * 0.25);

    /* --_g: var(--s) var(--s) radial-gradient(var(--c1) 17%, var(--c2) 18% 35%, #0000 36.5%);
    background:
        calc(var(--s)/-4) calc(var(--s)/-4)/var(--_g),
        calc(var(--s)/ 4) calc(var(--s)/ 4)/var(--_g),
        radial-gradient(var(--c2) 34%, var(--c1) 36% 68%, #0000 70%) 0 0/calc(var(--s)/2) calc(var(--s)/2),
        repeating-linear-gradient(45deg, var(--c1) -12.5% 12.5%, var(--c2) 0 37.5%) 0 0/var(--s) var(--s); */

    & .front .image {
        background-image: url('../images/cardback-quivicar.jpg');
    }
}

.card.dilemma {
    --hue: 40;
    
    --s: calc(var(--width) * 0.25);

    --_g: var(--s) var(--s) radial-gradient(var(--c1) 17%, var(--c2) 18% 35%, #0000 36.5%);
    background:
        calc(var(--s)/-4) calc(var(--s)/-4)/var(--_g),
        calc(var(--s)/ 4) calc(var(--s)/ 4)/var(--_g),
        radial-gradient(var(--c2) 34%, var(--c1) 36% 68%, #0000 70%) 0 0/calc(var(--s)/2) calc(var(--s)/2),
        repeating-linear-gradient(45deg, var(--c1) -12.5% 12.5%, var(--c2) 0 37.5%) 0 0/var(--s) var(--s);

    & .front .image{
        background-image: url('../images/cardback-demon.jpg');
    }
}

.card.fight {
    --hue: 90;
    --s: calc(var(--width) * 0.125);
  
    background: 
        conic-gradient(from  45deg at 70%,var(--c2) 25%,#0000 0) calc(5*var(--s)/8) var(--s),
        conic-gradient(from  45deg at 40%,var(--c1) 25%,#0000 0) calc(3*var(--s)/4) var(--s),
        conic-gradient(from -45deg at 30%,#0000 75%,var(--c2) 0) calc(var(--s)/8) 0,
        conic-gradient(from -45deg at 60%,var(--c2) 75%,var(--c1) 0);
    background-size: var(--s) calc(2*var(--s));
    & .front .image {
        background-image: url('../images/cardback-rilmok.jpg');
    }
}

.card.chaos {
    --hue: 0;
    --s: calc(var(--width) * 0.125);

    background:
        radial-gradient(var(--c1) 14%, var(--c2) 15% 30%, var(--c1) 31% 44%, var(--c2) 45% 60%, #0000 61%),
        linear-gradient(45deg, #0000 46%, var(--c2) 0 54%, #0000 0),
        linear-gradient(-45deg, #0000 46%, var(--c2) 0 54%, #0000 0) var(--c1);
    background-size: var(--s) var(--s);

    & .front .image {
        background-image: url('../images/cardback-blood.jpg');
    }
}


.card.zen {
    --hue: 210;
    --s: calc(var(--width) * 0.25);

    --_g: var(--c1)        6.1%,var(--c2)  6.4% 18.6%,var(--c1) 18.9% 31.1%,
            var(--c2) 31.4% 43.6%,var(--c1) 43.9% 56.1%,var(--c2) 56.4% 68.6%,#0000 68.9%;
    background:
        radial-gradient(var(--s) at 100% 0   ,var(--_g)),
        radial-gradient(var(--s) at 0    0   ,var(--_g)),
        radial-gradient(var(--s) at 0    100%,var(--_g)),
        radial-gradient(var(--s) at 100% 100%,var(--_g)) var(--c1);
    background-size: var(--s) var(--s);

    & .front .image {
        background-image: url('../images/cardback-zen.jpg');
    }
}

.card.eideron {
    --hue: 230;
    --s: calc(var(--width) * 0.2);
  
    --_g: var(--c1)        6.1%,var(--c2)  6.4% 18.6%,var(--c1) 18.9% 31.1%,
            var(--c2) 31.4% 43.6%,var(--c1) 43.9% 56.1%,var(--c2) 56.4% 68.6%,#0000 68.9%;
    background:
        radial-gradient(var(--s) at 100% 0   ,var(--_g)),
        radial-gradient(var(--s) at 0    0   ,var(--_g)),
        radial-gradient(var(--s) at 0    100%,var(--_g)),
        radial-gradient(var(--s) at 100% 100%,var(--_g)) var(--c1);
    background-size: var(--s) var(--s);

    & .front .image {
        background-image: url('../images/cardback-eideron.jpg');
    }
}

.card.logus {
    --hue: 280;
    --s: calc(var(--width) * 0.125);

    background:
        radial-gradient(var(--c1) 14%, var(--c2) 15% 30%, var(--c1) 31% 44%, var(--c2) 45% 60%, #0000 61%),
        linear-gradient(45deg, #0000 46%, var(--c2) 0 54%, #0000 0),
        linear-gradient(-45deg, #0000 46%, var(--c2) 0 54%, #0000 0) var(--c1);
    background-size: var(--s) var(--s);

    & .front .image {
        background-image: url('../images/cardback-logus.jpg');
    }
}

.card.magnus {
    --hue: 20;
    --s: calc(var(--width) * 0.06125);

  --_c1: var(--c1) 99%,#0000 101%;
  --_c2: var(--c2) 99%,#0000 101%;
  
  --r:calc(var(--s)*.866); 
  --g0:radial-gradient(var(--s),var(--_c1));
  --g1:radial-gradient(var(--s),var(--_c2));
  --f:radial-gradient(var(--s) at calc(100% + var(--r)) 50%,var(--_c1));
  --p:radial-gradient(var(--s) at 100% 50%,var(--_c2));
  background:
    var(--f) 0 calc(-5*var(--s)/2),
    var(--f) calc(-2*var(--r)) calc(var(--s)/2),
    var(--p) 0 calc(-2*var(--s)),
    var(--g0) var(--r) calc(-5*var(--s)/2),
    var(--g1) var(--r) calc( 5*var(--s)/2),
    radial-gradient(var(--s) at 100% 100%,var(--_c1)) 0 calc(-1*var(--s)),   
    radial-gradient(var(--s) at 0%   50% ,var(--_c1)) 0 calc(-4*var(--s)),
    var(--g1) calc(-1*var(--r)) calc(-7*var(--s)/2),
    var(--g0) calc(-1*var(--r)) calc(-5*var(--s)/2),
    var(--p) calc(-2*var(--r)) var(--s),
    var(--g0) calc(-1*var(--r)) calc(var(--s)/ 2),
    var(--g1) calc(-1*var(--r)) calc(var(--s)/-2),
    var(--g0) 0 calc(-1*var(--s)),
    var(--g1) var(--r) calc(var(--s)/-2),
    var(--g0) var(--r) calc(var(--s)/ 2) 
    var(--c2);
  background-size: calc(4*var(--r)) calc(6*var(--s));

    /* background-size: var(--s) var(--s); */

    & .front .image {
        background-image: url('../images/cardback-magnus.jpg');
    }
}


.card.crisis {
    --hue: 0;
    --saturation: 0;

    --s: calc(var(--width) * 0.21);

    --_l: #0000 46%,var(--c1) 47% 53%,#0000 54%;
    background:
        radial-gradient(100% 100% at 100% 100%,var(--_l)) var(--s) var(--s),
        radial-gradient(100% 100% at 0    0   ,var(--_l)) var(--s) var(--s),
        radial-gradient(100% 100%,#0000 22%,var(--c1) 23% 29%, #0000 30% 34%,var(--c1) 35% 41%,#0000 42%),
        var(--c2);
    background-size: calc(var(--s)*2) calc(var(--s)*2);
    & .front .image {
        background-image: url('../images/cardback-grey-one.jpg');
    }

    & .sheen {
        filter: grayscale(1) brightness(1.25);
    }
}

.card.unworthy {
    --hue: 250;

    --s: calc(var(--width) * 0.125) ;

    --c: #0000, var(--c1) .5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425%/6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425%/6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175%/12), var(--c));
    background:
        var(--g1), var(--g1) var(--s) calc(1.73*var(--s)),
        var(--g2), var(--g2) var(--s) calc(1.73*var(--s)),
        var(--g3) var(--s) 0, var(--g3) 0 calc(1.73*var(--s)) var(--c2);
    background-size: calc(2*var(--s)) calc(3.46*var(--s));
    /* background-position: center; */

    & .front .image {
        background-image: url('../images/cardback-unworthy.jpg');
    }
    & h3 {
        color: hsl(var(--hue), 100%, 95%);
    }
}

.card.galdarians {
    --hue: 70;

    --s: calc(var(--width) * 0.125) ;

    --c: #0000, var(--c1) .5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425%/6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425%/6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175%/12), var(--c));
    background:
        var(--g1), var(--g1) var(--s) calc(1.73*var(--s)),
        var(--g2), var(--g2) var(--s) calc(1.73*var(--s)),
        var(--g3) var(--s) 0, var(--g3) 0 calc(1.73*var(--s)) var(--c2);
    background-size: calc(2*var(--s)) calc(3.46*var(--s));
    /* background-position: center; */

    & .front .image {
        background-image: url('../images/cardback-erlag.jpg');
    }
}

.card.corpus {
    --hue: 50;
    --saturation: 0.75;
    --lightness: 1.4;
    
    --s: calc(var(--width) * 0.125);

    --l1:#0000  48%,var(--c1) 0 52%,#0000 0;
    --l2:#0000 1.3%,var(--c2) 0 32%,#0000 0;
    background:
        linear-gradient(-45deg,var(--l2)),
        linear-gradient( 45deg,var(--l1)),
        linear-gradient( 45deg,var(--l2)) calc(var(--s)/2) calc(var(--s)/2),
        linear-gradient(-45deg,var(--l1)) var(--c2);
    background-size: calc(2*var(--s)) var(--s),var(--s) var(--s);

    & .front .image {
        background-image: url('../images/cardback-corpus.jpg');
    }
}


.unworthy .image::before { content: 'I'; }
.unworthy .image::after { content: 'The Magician'; }

.fight .image::before { content: 'II'; }
.fight .image::after { content: 'Conflict'; }

.chaos .image::before { content: 'III'; }
.chaos .image::after { content: 'Chaos'; }

.card.dilemma .image::before { content: 'VII'; }
.card.dilemma .image::after { content: 'Adversity'; }

.galdarians .image::before { content: 'VIII'; }
.galdarians .image::after { content: 'Strength'; }


.magnus .image::before { content: 'IX'; }
.magnus .image::after { content: 'The Hermit'; }

.opportunity .image::before { content: 'X'; }
.opportunity .image::after { content: 'Opportunity'; }

.zen .image::before { content: 'XII'; }
.zen .image::after { content: 'The Hanged Man'; }

.crisis .image::before { content: 'XIII'; }
.crisis .image::after { content: 'Death'; }

.logus .image::before { content: 'XV'; }
.logus .image::after { content: 'The Devil'; }

.eideron .image::before { content: 'XVII'; }
.eideron .image::after { content: 'The Star'; }

.corpus .image::before { content: 'XX'; }
.corpus .image::after { content: 'Judgement'; }