.countdown {
    position: relative;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-auto-flow: column;
    box-shadow: 0 0 20px black;
    margin: 1em 0 1em;
    font-size: 1.5em;
    z-index: 50;
}

.countdown__pip {
    position: relative;
    background: #111;
    color: var(--darkbrown);
    
    height: 2em;
    border: 2px solid var(--darkbrown);
    border-top: 4px solid var(--darkbrown);
    border-bottom: 4px solid var(--darkbrown);
    
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    
    transition: background-color 0.5s, transform 0.25s, border-radius 0.25s, border 0.25s;
}
.countdown__pip:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-left: 4px solid var(--darkbrown);
}
.countdown__pip:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 4px solid var(--darkbrown);

    &.active {
        background: black;
    }
}

.countdown__pip.active {
    transition: background-color 0.5s ease-out, transform 0.25s ease-in-out, border-radius 0.25s, border 0.25s;

    z-index: 1;
    overflow: hidden;

    &::after {
        width: 12px;
        height: 12px;
        background-color: var(--darkbrown);
        content: '';
        display: block;
        position: absolute;
        top: -7px;
        transform: rotate(50grad);
        opacity: 0;

        transition: opacity 0.5s;
    }
}
.countdown__pip.now {
    position: relative;
    transform: scale(1.3);
    border-width: 4px;
    border-radius: 5px;
    z-index: 2;
    /* box-shadow: 0 0 5px black; */

    &::after {
        opacity: 1;
    }
}
.countdown__icon {
    position: relative;
    z-index: 5;
    display: grid;
    place-content: center;
    pointer-events: none;
    animation: enter 2s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes enter {
    from { transform: scale(0);}
}
.countdown__icon .spin {
    animation: spin 7s linear infinite;
}
@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(-360deg);}
}
.countdown__icon .pulse {
    animation: pulse 7s infinite;
}
@keyframes pulse {
    0%,15%,100% { transform: scale(1);}
    7% { transform: scale(1.25);}
    30%,50%,70%,90% { transform: scale(1.05);}
    20%,40%,60%,80% { transform: scale(1);}
}

.countdown__date {
    position: absolute;
    z-index: 4;
    top: -0.1em;
    bottom: 0;
}

.countdown__icon + .countdown__date {
    opacity: 0;
}

.countdown__icon + .countdown__icon {
    height: 0.6em;
}

/* .countdown__pip.active .countdown__date {
    color: var(--beige);
} */

.countdown__pip.active { background: var(--black); }
.countdown__pip.active.early  { color: var(--green); }
.countdown__pip.active.mid { color: var(--orange); }
.countdown__pip.active.late { color: var(--crimson); }
.countdown__pip.active.end { color: var(--purple); }

.countdown__pip.active.now { color: var(--black); }
.countdown__pip.active.now.early { background: var(--green); }
.countdown__pip.active.now.mid { background: var(--orange); }
.countdown__pip.active.now.late { background: var(--crimson); }
.countdown__pip.active.now.end { background: var(--purple); }

.days {
    color: var(--crimson);
    font-weight: bold;
}

@media screen and (width < 1200px) {
    .countdown {
        grid-template-columns: repeat(15, 1fr);
        grid-template-rows: 2;
        grid-auto-flow:initial;
    }

    .countdown__pip {
        border-width: 4px;
    }
    .countdown__pip:first-child {
        border-bottom-left-radius: 0;
    }
    .countdown__pip:last-child {
        border-top-right-radius: 0;
    }
}

@media screen and (width < 800px) {
    .countdown {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: 3;
    }
}

@media screen and (width < 500px) {
    .countdown {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 5;
    }
}@media screen and (width < 300px) {
    .countdown {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 6;
    }
}