@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Marcellus&family=Marcellus+SC&family=Modern+Antiqua&display=swap');

:root {
    /* background: black; */
    font-size: 16px;
    font-family: 'Crimson Pro', sans-serif;

    --black: #000;
    --beige: #ffdda9;
    --brown: #97794a;
    --darkbrown: #3f3320;
    --crimson: #ef3434;
    --blue: #34a1ef;
    --purple: #cc00ff;
    --green: hsl(102, 100%, 63%);
    --orange: #ffb90e;

    color:var(--beige);
}

html {
    --s: 80px;
    /* control the size*/
    --c1: #1c130b;
    --c2: #0a0807;

    --_s: calc(2*var(--s)) calc(2*var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, var(--c2) 68% 70%, #0000 72%;
    background:
        radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s)/var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0/var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0/var(--_s),
        repeating-conic-gradient(var(--c1) 0 25%, #0000 0 50%) 0 0/var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c1);
}

body {
    position: relative;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 1em;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    
}

.overlay {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    pointer-events: none;
    box-shadow: inset 0 0 100px 15px black;
    animation: fadeFromBlack 2s 0.5s backwards;
}

@keyframes fadeFromBlack {
    from {
        background-color:  black; 
    }
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

.sidebar {
    position: relative;
    z-index: 10;
    display: grid;
    gap: 1em;
    align-self: start;

    

    & button {
        text-align: left;
        display: grid;
        grid-template-columns: 1.5em 1fr;
    }
}

@keyframes slideRight {
    from {
        transform: translate(-300px);
    }
}

.sidebar__buttons {

    display: grid;
    gap: 1em;
    align-content: space-between;
}

button {
    font-family: 'Marcellus SC', 'Crimson Pro', serif;
    color:var(--crimson);
    font-size: 1.2em;
    border: 4px solid var(--crimson);
    background-color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;

    box-shadow: 0 0 10px black;

    transition: color 0.25s, background 0.25s, transform 0.15s, border 0.2s;
}

button:hover {
    cursor: pointer;
    background: var(--crimson);
    color: black;
    /* transform: translateY(-5px); */
}

button:disabled {
    background: #333;
    color: var(--crimson);
    filter:grayscale(1);

    &:hover {
        transform: translateY(0);
    }
}

#gate, #rest {
    color: var(--blue);
    border-color: var(--blue);

    &:hover:not(:disabled) {
        background: var(--blue);
        color: black;
    }
}

#next {
    /* grid-area: next; */
    animation: slideRight 1s 1.25s backwards;
}
#rest {
    animation: slideRight 1s 1s backwards;

    & .pulse {
        animation: pulse 7s infinite;
    }
    &:disabled .pulse {
        animation-play-state: paused;
    }
}
#gate {
    animation: slideRight 1s 0.75s backwards;

    & .spin {
        text-align: center;
        animation: spin 7s linear infinite;
    }

    &:disabled .spin {
        animation-play-state: paused;
    }
}
#panel {
    /* grid-area: panel; */
    isolation: isolate;
}

/* .daysRow {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1em;
} */

.box {    
    border: 4px solid var(--darkbrown);
    border-radius: 5px;
    padding: 0.5em;
    /* margin: 1em 0; */
    background-color: black;
    box-shadow: 0 0 10px black;
}


@media screen and (width > 1700px) {
    :root {
        font-size: 20px;
    }
}

@media screen and (width < 1500px) {
    body {
        overflow: auto;
    }
    div#panel {
        grid-template-columns: 1fr 1fr;
        grid-auto-flow: row;
        justify-self: center;
    }
}

@media screen and (width < 1200px) {
    :root {
        font-size: 16px;
    }
    main {
        display: block;
    }
    .sidebar {
        grid-auto-flow: column;
    }
    div#panel {
        margin: 2em 0;
        gap: 2em;
    }
}

@media screen and (width < 900px) {
    div#panel {
        grid-template-columns: 1fr;
        grid-auto-flow: row;
    }
}

@media screen and (width < 500px) {
    .overlay {
        box-shadow: inset 0 0 30px 5px black;
    }
}

@media screen and (width < 450px) {
    :root {
        font-size: 14px;
    }
}