.menu {
    /* position: relative; */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 150;

    display: grid;
    grid-template-rows: auto 1fr;

    background: #000b;
    border: 4px solid var(--brown);
    padding: 1em;
    animation: menuFade 0.4s reverse both ease-in-out;

    &.visible {
        animation: menuFadeBullshitCopy 0.4s both ease-in-out;
    }

    & h1 {
        color: var(--blue);
        font-size: 1.5em;
        padding-bottom: 0.3em;
        margin-bottom: 0;
        border-bottom: 2px solid var(--darkbrown);
    }
}

.switch .menu {
    animation-duration: 0.01s;
}

/* Dumbest CSS hack I've ever needed to do. Animation won't retrigger when .visible is toggled because it's the same animation, even though the assigned values of animation change because the actual animation is the same. So short of hacking in animation: none with JS using setTimeout, the easiest way to fix this problem is to make a duplicate of the animation so that on paper, the animation is TOTALLY DIFFERENT wink wink. */
@keyframes menuFadeBullshitCopy {
    0% { 
        opacity: 0;
        pointer-events: none;
        transform: scale(0.95);
    }
    70% {
        transform: scale(1);
    }
    100% {
        opacity: 1;
    }
}


@keyframes menuFade {
    0% { 
        opacity: 0;
        pointer-events: none;
        transform: scale(0.95);
    }
    70% {
        transform: scale(1);
    }
    100% {
        opacity: 1;
    }
}


.allies {
    display: grid;
    grid-template-columns: repeat(6, auto);
    justify-content: center;
    align-content: start;
    padding: 2.5em 1.5em 1.5em;
    gap: 1.5em;
    overflow: auto;
}

.menu__settings {
    padding: 1.5em 0 1.5em;   
    display: grid;
    grid-gap: 1em;
    place-content: start;

    & .valueAdjust h2 {
        margin-bottom: 0.25em;
    }
    & .valueAdjust button {
        font-size: 1.5em;
        padding: 0em;
        width: 2em;
        height: 2em;
    }
}

#quests {
    display: grid;
    grid-template-columns: 25em 1fr;
    overflow-y: auto;

    & .quest__list {
        overflow-y: auto;
        padding-bottom: 20em;

        & h2 {
            /* background-color: black; */
            font-size: 1.75em;
            padding: 1.5em 15px 0.2em;  
            /* position: sticky; */
            /* top: -1px; */
        }

        & .quest__item {
            font-size: 1.25em;
            padding: 0.2em 15px;
            border-left: 0 solid transparent;
            /* background: black; */
            color: var(--green);
            transition: background 0.15s, color 0.15s, border 0.15s, filter 0.15s;
            font-family: "Marcellus SC", "Crimson Pro", serif;

            &.quest--complete {
                color: var(--grey);
            }

            &.selected {
                border-left: 0.5em solid var(--beige);
                background: var(--darkbrown);
                color: var(--beige);
            }

            &:hover {
                background: var(--darkbrown);
                color: var(--beige);
                filter: brightness(1.25)
            }
        }
    }


    & .quest__details {
        font-size: 1.4em;
        padding: 1em;
        /* background: var(--darkbrown); */

        & h2 {
            font-size: 1.2em;
            background: var(--crimson);
            color: black;
            padding: 0.25em 15px;
            margin-bottom: 0.5em;
        }
        h3 {
            font-size: 1.1em;
            padding-left: 15px;
        }

        & p {
            text-indent: 0;
            padding-left: 15px;
        }

        & button {
            margin-top: 2em;
            font-size: 0.8em;
        }
    }
}


@media screen and (width < 1000px) {
    #quests {
        grid-template-columns: 25em 25em;
    }
}