.stats {
    /* grid-area: stats; */
}

.stats__subtitle {
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    color: var(--brown);
    border-bottom: 4px solid var(--darkbrown);
    position: relative;
    top: -0.25em;
    
}
.stats__title {
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    
    color: var(--crimson);
    border-top: 4px solid var(--darkbrown);    
}

.stats__icon {
    text-align: center;
    /* transform: scale(1.1); */
}

.stats__stat {
    font-size: 1.15em;
    font-weight: bold;
    display: grid;
    justify-content: start;
    grid-template-columns: 2em 5em 1.5em;
}

.stats__name {
}

.stats__value {
    color: var(--green);
    transform: scale(1.2);
    text-align: center;
}