.stats {
    font-size: 1.25em;
}

.stats__icon {
    text-align: center;
    transform: scale(1.1);
}

.stats__stat {
    display: grid;
    justify-content: start;
    grid-template-columns: 2em 5em auto;
}

.stats__name {
    font-weight: bold;
    color: var(--green);
}

.stats__value {
    font-weight: bold;
    color: var(--orange);
    transform: scale(1.2);
}