h1 {
    font-family: 'Marcellus SC', serif;
    color:var(--green);
    font-size: 2em;
    line-height: 1em;
}

h2 {
    font-family: 'Marcellus SC', 'Crimson Pro', serif;
    color:var(--crimson);
    font-size: 1.5em;
    line-height: 1.15em;
}
h3 {
    font-family: 'Marcellus SC', 'Crimson Pro', serif;
    color:var(--orange);
    font-size: 1.3em;
}

p {
    margin-bottom: 1em;
    text-indent: -1em;
    padding-left: 1em;
    line-height: 1.15em;
}

b {
    color: var(--crimson);
}

.italic {
    color: var(--brown);
    font-style: italic;
}